@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "animated";
@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
  background-color: #000;

  font-family: 'Lato', sans-serif;
  color: #fff;
}

#camera {
  position: fixed;
  
  top: 52%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;

  width: 100%;

  z-index: 1;
}

.welcome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #333;

  z-index: 3;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer {
  position: fixed;

  bottom: 0;
  right: 0;
  margin-right: 10px;

  z-index: 2;
}

.posture {
  position: fixed;

  top: 28%;
  left: 45%;

  opacity: 0.3;

  -webkit-transition-delay: 2s; /* Safari */
  transition-delay: 2s;

  -ms-transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  transform: scale(2.0, 2.0);

  z-index: 2;
}

.instruction {
  position: fixed;

  margin-left: 30px;
  margin-top: 10px;

  z-index: 2;
}

.instruction h1 {
  font-size: 40px;
}

.instruction p {
  font-size: 30px;
}